.navbar {
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content: space-between;
    z-index:1;
    height:50px;
}
.nav_logo {
    width:90px;
    object-fit:contain;
    position:fixed;
    left:20px;

}
.nav_box {
    width:30px;
    position:fixed;
    right:20px;
    object-fit:contain;
}
.nav_black {
    background-color: #111;
    transition: all 0.5s ease-in;
}